Type: System.Xml.Schema.ConstraintStruct:
	Base Class: 
		System.Object

	Interfaces:

	Field: constraint
		Type: System.Xml.Schema.CompiledIdentityConstraint
		Offset in Defining Type: 0x10
		Has Default: False

	Field: axisSelector
		Type: System.Xml.Schema.SelectorActiveAxis
		Offset in Defining Type: 0x18
		Has Default: False

	Field: axisFields
		Type: System.Collections.ArrayList
		Offset in Defining Type: 0x20
		Has Default: False

	Field: qualifiedTable
		Type: System.Collections.Hashtable
		Offset in Defining Type: 0x28
		Has Default: False

	Field: keyrefTable
		Type: System.Collections.Hashtable
		Offset in Defining Type: 0x30
		Has Default: False

	Field: tableDim
		Type: System.Int32
		Offset in Defining Type: 0x38
		Has Default: False

	Method: get_TableDim:
		Accessibility: Assembly
		Return Type: System.Int32
		File Offset 0x006BABA0
		Ram Offset 0x1806bbda0
		Virtual Method Slot: 65535

	Method: .ctor:
		Accessibility: Assembly
		Return Type: System.Void
		File Offset 0x01E2A1D0
		Ram Offset 0x181e2b3d0
		Virtual Method Slot: 65535

		Parameter 0:
			Name: constraint
			Type: System.Xml.Schema.CompiledIdentityConstraint
			Default Value: 